@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
    overflow-x: hidden;
  }
  body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
}

/* Fotter Wave */
.wave-container {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 0;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* High quality wave image */
  background: url("/images/wave.png");
  background-size: 1000px 100px;
  animation: animate_wave 12s linear infinite;
}

/* Layering logic from your reference code */
.wave:nth-child(1) {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation-delay: 0s;
}

.wave:nth-child(2) {
  z-index: 999;
  opacity: 0.5;
  animation-direction: reverse; /* Direction logic you requested */
  animation-delay: -0.2s;
  bottom: 10px;
}

.wave:nth-child(3) {
  z-index: 998;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 15px;
}

.wave:nth-child(4) {
  z-index: 997;
  opacity: 0.7;
  animation-direction: reverse; /* Direction logic you requested */
  animation-delay: -2s;
  bottom: 20px;
}

@keyframes animate_wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
